<body class="beerpic">
  <a href="#/list">Back to Results</a>

  <div class="row">
    <div class="col-md-6" id="picture"><img ng-src="{{selectedBeer.labels.medium}}"></div>
    <div class="col-md-6" id="specs">
      <ul>
        <li id="name">{{selectedBeer.name}}</li>
        <li id="abv">{{selectedBeer.abv}}</li>
        <li id="glass">{{selectedBeer.glass}}</li>
        <li id="style">{{selectedBeer.style}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" id="description">{{selectedBeer.description}}</div>
  </div>

<h1>Enjoying your beer? Try this:</h1>
   <ul>
    <li ng-repeat="item in list">{{item.name}}</li>
  </ul>
</body>
