<body class="beerpic">
  <a href="#/list">Back to Results</a>

  <div class="row">
    <div class="col-md-6" id="picture">{{selectedBeer.label}}</div>
    <div class="col-md-6" id="description">{{selectedBeer.description}}</div>
  </div>

  <div class="row">
    <div class="col-md-4" id="name">{{selectedBeer.name}}</div>
    <div class="col-md-4" id="abv">{{selectedBeer.abv}}</div>
    <div class="col-md-4" id="glass">{{selectedBeer.glass}}</div>
    <div class="col-md-4" id="glass">{{selectedBeer.style}}</div>
  </div>

  <ul>
    <li>Similar Beers</li>
  </ul>
</body>
