<body class="beerpic">
  <a href="#/list"><button type="button" class="btn">Back to Results</button></a>

  <div class="row">
    <div class="col-md-6" id="picture"><img ng-src={{selectedBeer.labels}} id="picture"></div>
    <div class="col-md-6" id="specs">
      <ul>
        <li id="name">Name: {{selectedBeer.name}}</li>
        <li id="abv">Alcohol by Volume(ABV): {{selectedBeer.abv}}</li>
        <li id="glass">Glass: {{selectedBeer.glass}}</li>
        <li id="style">Style: {{selectedBeer.style}}</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" id="description">{{selectedBeer.description}}</div>
  </div>

  <ul>
    <li>Similar Beers</li>
  </ul>
</body>
